{% extends "base.html" %}
{% block container %}
    <div class="row eq-height align-items-center">
			<img id="cam" class="img-fluid col-sm-9" src="{{ url_for('video_feed') }}">
			<!-- <img id="cam" class="img-fluid col-sm-9" src="../static/mock.jpg"/> -->

	    <div id="predictions" class="col-sm-3">
	    	<span class="progress-label"> Злость </span>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%; background-color: #FD0000;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> 0% </div>
			</div>
			<span class="progress-label"> Счастье </span>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;background-color: #FD9900;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> 0% </div>
			</div>
			<span class="progress-label"> Удивление </span>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;background-color: #FFCD00;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> 0% </div>
			</div>
			<span class="progress-label"> Спокойствие </span>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;background-color: #67CC31;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> 0% </div>
			</div>
			<span class="progress-label"> Грусть </span>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;background-color: #3299FE;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> 0% </div>
			</div>
			<span class="progress-label"> Испуг </span>
			<div class="progress">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;background-color: #1300CA;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> 0% </div>
			</div>
			<span class="progress-label"> Отвращение </span>
			<div class="progress" style="margin-bottom: 25px;">
				<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;background-color: #650297;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"> 0% </div>
			</div>
		</div>
	</div>

	<script>
    	const xhttp = new XMLHttpRequest();
    	function resetFace(){
    		xhttp.open("GET", "reset_face");
    		xhttp.send();
    	};
    </script>

	<div class="row">
		<div class="col-sm-4 top15">
			<input class="btn-lg btn-warning" value="Выбрать другое лицо" onclick="resetFace();" type="button">
		</div>
	</div>
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
    <script>
    	$(document).ready(function() {
		    $("#cam").on("click", function(event) {
		        var x = event.pageX - this.offsetLeft;
		        var y = event.pageY - this.offsetTop;
		        var w = this.width;
		        var h = this.height;

		        xhttp.open("GET", `choose_face?x=${x}&y=${y}&w=${w}&h=${h}`);
		        xhttp.send();
		    });
		});
    </script>

    <script>
    	(function update() {
		    $.ajax({
		        type : 'GET',
		        url : 'get_emotions',
		        success : function(data){
		        	var bars =document.getElementsByClassName("progress");

		        	if (data.length > 0){
		        		//Злость
		        		bars[0].children[0].style.width = `${data[0]}%`;
		        		bars[0].children[0].textContent = `${data[0]}%`;
		        		//Счастье
		        		bars[1].children[0].style.width = `${data[3]}%`;
		        		bars[1].children[0].textContent = `${data[3]}%`;
		        		//Удивление
		        		bars[2].children[0].style.width = `${data[5]}%`;
		        		bars[2].children[0].textContent = `${data[5]}%`;
		        		//Спокойствие
		        		bars[3].children[0].style.width = `${data[6]}%`;
		        		bars[3].children[0].textContent = `${data[6]}%`;
		        		//Грусть
		        		bars[4].children[0].style.width = `${data[4]}%`;
		        		bars[4].children[0].textContent = `${data[4]}%`;
		        		//Испуг
		        		bars[5].children[0].style.width = `${data[2]}%`;
		        		bars[5].children[0].textContent = `${data[2]}%`;
		        		//Удивление
		        		bars[6].children[0].style.width = `${data[1]}%`;
		        		bars[6].children[0].textContent = `${data[1]}%`;

		        	} else {
		        		for (var i=0; i<7; i++){
		        			bars[i].children[0].style.width = "100%";
		        			bars[i].children[0].textContent = "100%";
		        		}
		        	}
		        },              // pass existing options
		    }).then(function() {           // on completion, restart
		       setTimeout(update, 1000);  // function refers to itself
		    });
		})(); 
    </script>
{% endblock %}