{% extends "base.html" %}

{% block container %}
  	<script src="../static/plotly.min.js"> </script>
	
	<div id="result_row">
		<div class="row eq-height justify-content-md-center" style="margin-top: 64px;">
				<span id="total_result" class="col-sm-3"></span>
				<span id="total_good" class="col-sm-3"></span>
				<span id="total_bad" class="col-sm-3"></span>
		</div>
		<div align="center" style="margin-top: 64px;">
				<div id="result_plots"></div>
		</div>
	</div>

	<div id="start_btn_row" class="row eq-height justify-content-md-center" style="margin-top: 64px;">
			<button id="start_btn" class="btn-lg col-sm btn-warning"> Начать новое тестирование </button>
	</div>

	<div id="quiz_row">
		<div class="row justify-content-md-center">
			<span class="col-sm-1"></span>
			<img id="quizImg" class="col-sm-10" src="../static/mock.jpg"/>
			<span id="totalLabel" class="col-sm-1"> Пройдено: 0</span>
		</div>

		<div class="row eq-height justify-content-md-center">
			<button onclick="window.check_answer(0);" class="btn-lg btn-info col-sm-3 ml-2 mr-2 mt-3"> Злость </button>
			<button onclick="window.check_answer(1);" class="btn-lg btn-info col-sm-3 ml-2 mr-2 mt-3"> Отвращение </button>
			<button onclick="window.check_answer(2);" class="btn-lg btn-info col-sm-3 ml-2 mr-2 mt-3"> Испуг </button>
		</div>
		<div class="row eq-height justify-content-md-center">
			<button onclick="window.check_answer(3);" class="btn-lg btn-info col-sm-3 ml-2 mr-2 mt-3"> Счастье </button>
			<button onclick="window.check_answer(4);" class="btn-lg btn-info col-sm-3 ml-2 mr-2 mt-3"> Грусть </button>
			<button onclick="window.check_answer(5);" class="btn-lg btn-info col-sm-3 ml-2 mr-2 mt-3"> Удивление </button>
		</div>
		<div class="row eq-height justify-content-md-center">
			<button onclick="window.check_answer(6);" class="btn-lg btn-info col-sm-3 ml-2 mr-2 mt-3"> Спокойствие </button>
		</div>
		<div class="row eq-height justify-content-md-center">
			<button onclick="window.finish_quiz();" id="exit_btn" class="btn-lg btn-warning col-sm-9 ml-2 mr-2 mt-3 mb-3"> Закончить </button>
		</div>
	</div>
	<script>
		var total = 0;
		var score = 0;
		var images = null;
		var quizImage = null;
		var goodAnsw = null;
		var answers= [];

		function init_quiz(){
			window.total = 0;
			window.score = 0;
			window.answers = []
			let img_ind = Math.floor(Math.random() * images.length);
        	window.quizImage = images[img_ind];
        	window.images.splice(img_ind, 1);
        	window.goodAnsw = parseInt(quizImage.split(".")[0].split("%")[1]);
		}

		function check_answer(answ){
			window.total += 1;
			if (answ == window.goodAnsw){
				window.score += 1;
			}

			answers.push([window.quizImage, window.goodAnsw, answ]);

			if (images.length == 0){
				$.ajax({
		        type : 'GET',
		        url : 'get_image_list',
		        success : function(data){
					window.images = data;
					let img_ind = Math.floor(Math.random() * window.images.length);
        			window.quizImage = window.images[img_ind];
        			window.images.splice(img_ind, 1);
        			window.goodAnsw = parseInt(window.quizImage.split(".")[0].split("%")[1]);
        			update_quiz();
		        }});

			} else {
				let img_ind = Math.floor(Math.random() * images.length);
	        	window.quizImage = window.images[img_ind];
	        	window.images.splice(img_ind, 1);
	        	window.goodAnsw = parseInt(window.quizImage.split(".")[0].split("%")[1]);
	        	update_quiz();
			}
		}

		function update_quiz(){
			$("#quizImg").attr("src", "../static/quiz/" + window.quizImage);
			$("#totalLabel").text(`Пройдено: ${total}`);
		}

		function finish_quiz(){
			$("#total_result").text(`Пройдено: ${window.total}`);
			$("#total_good").text(`Верных ответов: ${window.score}`);
			$("#total_bad").text(`Неверных ответов: ${window.total-window.score}`);

			window.draw_result();

			$("#quiz_row").hide();
			$("#result_row").show();
			$("#start_btn_row").show();
		}

		function draw_result(){
			var answersByEmotions = []
			for (var i=0; i<7; i++){
				answersByEmotions[i] = [0, 0];
			}

			for (var answ of window.answers){
				answersByEmotions[answ[1]][0] += 1;
				answersByEmotions[answ[1]][1] += answ[1] == answ[2] ? 1:0;
			}


			var trace1 = {
				x: ['Злость', 'Отвращение', 'Испуг', 'Счастье', 'Грусть', 'Удивление', 'Спокойствие'],
				y: [answersByEmotions[0][1],
					answersByEmotions[1][1],
					answersByEmotions[2][1],
					answersByEmotions[3][1],
					answersByEmotions[4][1],
					answersByEmotions[5][1],
					answersByEmotions[6][1]],
				name: 'Верные ответы',
				marker: { color: '#00cd00'},
				type: 'bar'
			};

			var trace2 = {
				x: ['Злость', 'Отвращение', 'Испуг', 'Счастье', 'Грусть', 'Удивление', 'Спокойствие'],
				y: [answersByEmotions[0][0] - answersByEmotions[0][1],
					answersByEmotions[1][0] - answersByEmotions[1][1],
					answersByEmotions[2][0] - answersByEmotions[2][1],
					answersByEmotions[3][0] - answersByEmotions[3][1],
					answersByEmotions[4][0] - answersByEmotions[4][1],
					answersByEmotions[5][0] - answersByEmotions[5][1],
					answersByEmotions[6][0] - answersByEmotions[6][1]],
				marker: { color: '#BC0F0F'},
				name: 'Неверные ответы',
				type: 'bar'
			};

			var data = [trace1, trace2];

			var layout = {barmode: 'stack'};

			Plotly.newPlot('result_plots', data, layout);
		}
	</script>

	<script>
		$(document).ready(function() {
			$("#start_btn_row").show();

			$("#start_btn").on("click", function(event) {
				$.ajax({
		        type : 'GET',
		        url : 'get_image_list',
		        success : function(data){
		        	if (data.length < 0) return 0;
					$("#start_btn_row").css("display", "none");
		        	window.images = data;
		        	window.init_quiz();
		        	window.update_quiz();
		        }});

				$("#result_row").hide();
				$("#quiz_row").show();
		    });
		});
	</script>
{% endblock %}